<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://githubworkplaceazure20200126042853.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/24d95bf1-46f7-454f-ba09-fd2b537bc13c/resourcegroups/myResourceGroup/providers/Microsoft.Web/sites/GithubWorkplaceAzure20200126042853</ResourceId>
    <UserName>$GithubWorkplaceAzure20200126042853</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://githubworkplaceazure20200126042853.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>